* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background: #272c38;
    font-family: "Cairo", sans-serif;
}
header #logo {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 28px;
}
header a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
header button {
    font-family: "Cairo", sans-serif;
    width: 130px;
    height: 35px;
    cursor: pointer;
    background: #eee;
    border: none;
    margin: 0 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

.container {
    width: 100%;
    height: calc(100vh - 102px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f0;
}
.container form {
    border: 1px solid #272c38;
    width: auto;
    display: inline-block;
    padding: 25px;
    background: #ffffff;
}
.container > span {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 28px;
    font-family: "Cairo", sans-serif;
    margin: 10px;
}

.container .form-links {
    float: right;

}

.container .form-links a {
    color: #000;
    font-family: "Poppins", sans-serif;
    display: block;
    margin: 6px 0;
}
.container form label {
    display: inline-block;
    width: 200px;
    font-family: "Poppins", sans-serif;

}
.container form input[type=email],
.container form input[type=password],
.container form input[type=text] {
    padding: 10px;
    margin: 5px 0;
    width: 260px;
}
.container form input[type=submit] {
    font-family: "Cairo", sans-serif;
    width: 130px;
    height: 40px;
    cursor: pointer;
    background: #eee;
    border: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    border: 1px solid #272c38;
    float: right;
    margin: 6px 0;
    transition: background-color 1s ease, color 1s ease;
}
.container form input[type=submit]:hover {
    background: #272c38;
    color: #ffffff;
}